{% extends 'base.html.twig' %}

{% block title %}Edit Vehiculo{% endblock %}

{% block body %}
    <h1>Edit Vehiculo</h1>

    {{ include('vehiculo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vehiculo_index') }}">back to list</a>

    {{ include('vehiculo/_delete_form.html.twig') }}
{% endblock %}
