<form method="post" action="{{ path('respuesta_delete', {'id': respuestum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ respuestum.id) }}">
    <button class="btn">Delete</button>
</form>
