{% extends 'base.html.twig' %}

{% block title %}Edit Respuesta{% endblock %}

{% block body %}
    <h1>Edit Respuesta</h1>

    {{ include('respuesta/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('respuesta_index') }}">back to list</a>

    {{ include('respuesta/_delete_form.html.twig') }}
{% endblock %}
