<nav class="nav nav-masthead justify-content-center float-md-end bg-dark" id="navbar">
	
	{% if is_granted("ROLE_ADMIN") %}
		<a class="nav-link active" aria-current="page" href="/">Buscador</a>
		<a class="nav-link" href="/messagesReportados">Mensajes reportados</a>
		<a class="nav-link" href="/usuarios">Exportar usuarios</a>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Admin - {{ app.user.email }}
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="/perfil">Perfil</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/login">Login</a>
				<a class="dropdown-item" href="/register">Register</a>
				<a class="dropdown-item" href="/logout">Logout</a>
			</div>
		</li>
	{% elseif is_granted("ROLE_USER") %}
		<a class="nav-link active" aria-current="page" href="/">Buscador</a>
		<a class="nav-link" href="/message">Mensajes</a>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{ app.user.email }}
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="/perfil">Perfil</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/login">Login</a>
				<a class="dropdown-item" href="/register">Register</a>
				<a class="dropdown-item" href="/logout">Logout</a>
			</div>
		</li>
	{% endif %}
</nav>