@media screen and (max-width: 768px) {
    .pildora-content {
        min-width: 50% !important;
    }

    .anime {
        height: 150px !important;
        width: 300px !important;
    }

    .border-message1, .border-message2 {
        min-width: 10% !important;
    }

    .mediaBuscador {
        display: flex;
        flex-direction: column;
    }

    .infoVehiculo {
        width: 100% !important;
    }

    .img {
        width: 50%;
        height: 50%;
    }

    .carusel {
        margin-left: 10%;
        width: 80% !important;
    }
}

@media screen and (max-width: 320px) {
    .infoVehiculo {
        width: 100% !important;
    }

    .carusel {
        margin-left: 0px;
        width: 100% !important;
    }

    .img {
        width: 25% !important;
        height: 25% !important;
    }
}