body {
    background: linear-gradient(45deg, #faffa5, #ffeba5);
}

button.btn {
    background-color: #f1e41e;
    margin-top: 3%;
    margin-bottom: 3%;
}

button.btn:hover {
    background-color: #afad98;
}