<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <!-- Enlace CSS Bootstrap4 -->
            {% if is_granted("ROLE_ADMIN") %}
                <link href="/comunes/css/admin.css" rel="stylesheet">
            {% elseif is_granted("ROLE_USER") %}
                <link href="/comunes/css/user.css" rel="stylesheet">
            {% endif %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link href="/comunes/footer/css/footer.css" rel="stylesheet">
            <link href="/comunes/main.css" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link rel="shortcut icon" href="#" />
        {% endblock %}

        {% block javascripts %}
            <!-- Enlace a CDN JQuery -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

            <!-- Enlace Scripts Bootstrap4 -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock %}

        <style type="text/css">

            hr {
                background-color: white;
            }

            a.marca {
                font-size: 30px;
            }

            a.barraInferior {
                font-size: 10px;
                color: #a311d6;
            }

            a.barra:hover {
                font-size: 15px;
            }

            a.barraInferior:hover {
                font-size: 14px;
                color: #a311d6;
            }

            ul.adress span, ul.contact span, ul.social span {
                color: #a311d6;
                font-size: 14px;
            }

            .sinpadding [class*="col-"] {
                padding: 0;
            }

            div.anime {
                height: 100vh;
                width: 100%;
            }

            aside.anime {
                position: relative;
                border: 2px solid black;
                width: 45vw;
                height: 50vh;
                margin-top: 2%;
                background-image: url("/comunes/anime/img/carretera.png");
                background-repeat: no-repeat;
                background-size: cover;
            }

            aside.anime > img {
                position: absolute;
                top: 30vh;
                right: 68vh;
                width: 10vw;
                height: 10vh;
            }

            .cabecera {
                background: linear-gradient(#161381, #130f9e);
            }
        </style>
    </head>
    <body class="container-fluid">
        <div class="row cabecera sinpadding" id="cabeceraHidden">
            <div class="col-lg-6 col-md-10 col-sm-12 col-xs-12">
                <header class="m-4 ml-5">
                    <video loop="true" autoplay="true" width="100%" hight="100%">
                        <source src="/comunes/header/videoHeader.ogv" type="video/ogg" />
                        <source src="/comunes/header/videoHeader.mp4" type="video/mp4" />
                    </video>
                    <img id="volumen" src="/comunes/header/sonido.png" data-toggle="tooltip" title="Estado del sonido" />
                    <audio loop="true" autoplay="true" id="sonido">
                        <source src="/comunes/header/carrera.mp3"  type="audio/mp3">
                        <source src="/comunes/header/carrera.ogg"  type="audio/ogg">
                        <source src="/comunes/header/carrera.wav"  type="audio/wav">
                        Este es un elemento de audio no soportado por tu navegador, prueba con otro.
                    </audio>
                </header>
            </div>
            <div class="col-lg-6 col-md-2 col-sm-0 col-xs-0" id="animeHidden">
                <aside class="anime">
                    <img id="carAnime" src="/comunes/anime/img/coche.png" />
                </aside>
            </div>
        </div>
        <div class="row sinpadding">
            <div class="col-12">
                {% include 'navbar/navbar.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="main">
                {% block body %}{% endblock %}
            </div>
        </div>
        <div class="row pie sinpadding">
            <div class="col-12">
                <footer class="footer mt-auto text-center text-white-50 bg-dark">
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                                <ul class="adress">
                                    <span>Realizado por:</span>
                                    <li>
                                        <p>Miguel Ángel Puerta Bayo</p>
                                    </li>
                                    <li>
                                        <p>2º DAW</p>
                                    </li>
                                    <li>
                                        <img src="/comunes/footer/img/copyright.png" width="7%" height="7%" />
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <ul class="contact">
                                    <span>Contacto:</span>
                                    <li>
                                        <p>miguelpuerta@gmail.com</p>
                                    </li>
                                    <li>
                                        <hr />
                                    </li>
                                    <li>
                                        <a href="/perfil" id="perfil">Mi perfil</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <ul class="social">
                                    <span>Redes sociales:</span>
                                    <li>
                                            <a href="https://es-es.facebook.com/"><i class="fa fa-facebook fa-2x hover"></i></a>
                                    </li>
                                    <li>
                                            <a href="https://www.instagram.com/"><i class="fa fa-instagram fa-2x hover"></i></a>
                                    </li>
                                    <li>
                                            <a href="https://twitter.com/?lang=es"><i class="fa fa-twitter fa-2x hover"></i></a>
                                    </li>
                                    <li>
                                            <a href="https://www.pinterest.es/"><i class="fa fa-pinterest fa-2x hover"></i></a>
                                    </li>
                                    <li>
                                            <a href="https://www.youtube.com/"><i class="fa fa-youtube fa-2x hover"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script>

            function comprobarAncho(){
                var altoContenido=window.innerHeight-50;
                if(altoContenido>600){
                    $('footer').css("position","relative");
                }else{
                    $('footer').css("position","fixed");
                }
            }

            comprobarAncho();    

            $(window).resize(function() {
                comprobarAncho();
            });

            // Animación del coche
            $("#carAnime").click(function() {
                $(this).animate({
                    right:'1vh',
                }, 2700);
                
                $(this).animate({
                    right:'68vh'
                }, 1);
            });

            // Sonido
            $('[data-toggle="tooltip"]').tooltip();

            $("#volumen").click(function() {
                var video = document.querySelector("#sonido");

                if(video.muted == true) {
                    video.muted = false;
                    $(this).attr("src", "/comunes/header/sonido.png");
                    $(this).attr("title", "Volumen");
                }else {
                    video.muted = true;
                    $(this).attr("src", "/comunes/header/muted.png");
                    $(this).attr("title", "Muted");
                }
            });

            // Efecto x2 de enlace mi perfil
            $("#perfil").hover(function() {
                $(this).css({
                    fontSize: "2.2vw",
                    color: "#28eec7"
                });
            }, function() {
                $(this).css({
                    fontSize: "0.8vw",
                    color: "#ffffff"
                });
            });

            // Efecto iconos
            $(".hover").hover(function() {
                $(this).css({
                    transform: "scale(2)",
                    color: "#d1f67b"
                });
            }, function() {
                $(this).css({
                    transform: "scale(1)",
                    color: "#cdcccc"
                });
            });

        </script>
    </body>
</html>
