<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Política de privacidad e información legal{% endblock %}</title>

        {% block stylesheets %}
            <!-- Enlace CSS Bootstrap4 -->
            {% if is_granted("ROLE_ADMIN") %}
                <link href="/comunes/css/admin.css" rel="stylesheet">
            {% elseif is_granted("ROLE_USER") %}
                <link href="/comunes/css/user.css" rel="stylesheet">
            {% endif %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link href="/comunes/footer/css/footer.css" rel="stylesheet">
            <link href="/comunes/css/mediaQuery.css" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
            <!-- Fuente para texto cabeceras -->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
            <!-- Fuente para texto p y por defecto -->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <link rel="shortcut icon" href="#" />
        {% endblock %}

        {% block javascripts %}
            <!-- Enlace a CDN JQuery -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

            <!-- Enlace Scripts Bootstrap4 -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock %}

        <style type="text/css">
            .imgContainer {
                width: 25%;
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: 'Odibee Sans', cursive;
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
            }

            hr {
                background-color: white;
            }

            a.marca {
                font-size: 30px;
            }

            a.barra:hover {
                font-size: 15px;
            }

            a.barraInferior {
                font-size: 13px;
                color: #a311d6;
            }

            a.barra:hover {
                font-size: 20px;
            }

            a.barraInferior:hover {
                font-size: 18px;
                color: #a311d6;
            }

            ul.adress span, ul.contact span, ul.social span {
                color: #a311d6;
                font-size: 14px;
            }

            .sinpadding [class*="col-"] {
                padding: 0;
            }

            div.anime {
                position: relative;
                height: 300px;
                width: 700px;
                background-image: url("/comunes/anime/img/carretera.png");
                background-repeat: no-repeat;
                background-size: cover;
            }

            div.anime > img {
                position: absolute;
                top: 60%;
                right: 68%;
                width: 30%;
                height: 20%;
            }

            div.exportar {
                min-height: 500px;
            }

            div.mensaje {
                min-height: 600px;
            }

            input, textarea {
                border-radius: 10%;
            }

            input:focus, textarea:focus {
                border: 3px dotted #f91818;
            }

            label {
                margin-right: 1%;
            }

            div.pildora-content {
                min-width: 100%;
                min-height: 600px;
            }

            .mediaBuscador {
                display: flex;
                justify-content: space-between;
            }

            div.pildora-border {
                border-radius: 15px;
                border: 2px solid black;
                box-shadow: 5px 5px 5px 5px #888888;
                background-color: #F1A760;
            }

            div.border-message1 {
                border: 2px solid black;
                box-shadow: -2px 2px 2px 2px #888888;
                margin-bottom: 2%;
                border-radius:10px;
                background-color: #D589F3;
                min-width: 375px;
                overflow: auto;
            }

            div.border-message2 {
                border: 2px solid black;
                box-shadow: 2px 2px 2px 2px #FB876E;
                margin-bottom: 2%;
                border-radius:10px;
                background-color: #9AFD7B;
                min-width: 375px;
                overflow: auto;
            }

            .round {
                border-radius:50%;
                border: 3px solid #666;
            }

            .enlace {
                text-decoration: none;
                color: black;
            }

            .buscador {
                border-radius: 7px;
                padding: 2%;
                border: 3px dashed #5CE640;
            }

            .pulsar {
                background-color: #A5F70E;
                color: #2283E4;
                border: 2px dashed #E42234;
            }

            .pulsar:hover {
                background-color: #43BFF8;
                color: #F70E6F;
                border: 5px dashed #E42234;
            }

            .anuncio {
                min-height: 200px;
                border-radius: 25px;
                box-shadow: 5px 5px 5px 5px #888888;
                border: 5px solid #5CE640;
                background-color: #FAB867;
            }

            .carusel {
                width: 30%;
                border-radius: 15px;
                border: 7px dotted #E42234;
            }

            .infoVehiculo {
                width: 70%;
            }
        </style>
    </head>
    <body class="container-fluid">
        <div class="row sinpadding">
            <div class="col-12">
                {% include 'navbar/navbar.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="main">
                {% block body %}{% endblock %}
            </div>
        </div>
        <div class="row pie sinpadding">
            <div class="col-12">
                <footer class="footer mt-auto text-center text-white-50 bg-dark">
                    <div class="container">
                        <div class="row mt-5">
                            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                                <ul class="adress">
                                    <span>Realizado por:</span>
                                    <li>
                                        <p>Miguel Ángel Puerta Bayo</p>
                                    </li>
                                    <li>
                                        <p>2º DAW</p>
                                    </li>
                                    <li>
                                        <img src="/comunes/footer/img/copyright.png" width="7%" height="7%" />
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <ul class="contact">
                                    <span>Contacto:</span>
                                    <li>
                                        <p>miguelpuerta@gmail.com</p>
                                    </li>
                                    <li>
                                        <div>
                                            Iconos diseñados por 
                                                <a href="https://www.freepik.com" title="Freepik">
                                                    Freepik
                                                </a> 
                                            from 
                                            <a href="https://www.flaticon.es/" title="Flaticon">
                                                www.flaticon.es
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <hr />
                                    </li>
                                    <li>
                                        <a href="/perfil" id="perfil">Mi perfil</a>
                                        <br/>
                                        <a href="/anime" id="anime">Video y animación</a>
                                        <br/>
                                        <a href="/privacidad" target="_blank" id="privacidad">Política de privacidad e información legal</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <ul class="social">
                                    <span>Redes sociales:</span>
                                    <li>
                                            <a href="https://es-es.facebook.com/"><i class="fa fa-facebook fa-2x hover"></i></a>
                                    </li>
                                    <li>
                                            <a href="https://www.instagram.com/"><i class="fa fa-instagram fa-2x hover"></i></a>
                                    </li>
                                    <li>
                                            <a href="https://twitter.com/?lang=es"><i class="fa fa-twitter fa-2x hover"></i></a>
                                    </li>
                                    <li>
                                            <a href="https://www.pinterest.es/"><i class="fa fa-pinterest fa-2x hover"></i></a>
                                    </li>
                                    <li>
                                            <a href="https://www.youtube.com/"><i class="fa fa-youtube fa-2x hover"></i></a>
                                    </li>
                                </ul>
                            </div>   
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script>

            // Efecto x2 de enlace mi perfil
            $("#perfil").hover(function() {
                $(this).css({
                    fontSize: "18px",
                    color: "#28eec7"
                });
            }, function() {
                $(this).css({
                    fontSize: "15px",
                    color: "#ffffff"
                });
            });

            $("#anime").hover(function() {
                $(this).css({
                    fontSize: "18px",
                    color: "#f03bca"
                });
            }, function() {
                $(this).css({
                    fontSize: "15px",
                    color: "#ffffff"
                });
            });

            $("#privacidad").hover(function() {
                $(this).css({
                    fontSize: "18px",
                    color: "#9D22E4"
                });
            }, function() {
                $(this).css({
                    fontSize: "15px",
                    color: "#ffffff"
                });
            });

            // Efecto iconos
            $(".hover").hover(function() {
                $(this).css({
                    transform: "scale(2)",
                    color: "#d1f67b"
                });
            }, function() {
                $(this).css({
                    transform: "scale(1)",
                    color: "#cdcccc"
                });
            });
        </script>
    </body>
</html>
